{% load static %}

<div class="log-in pb-60">
    <div class="container">
        <div class="row">
            <!-- New Customer Start -->
            <div class="col-sm-6">
                <div class="well">
                    <div class="new-customer">
                        <h3>Новый покупатель</h3>
                        <p class="mtb-10"><strong>Регистрация</strong></p>
                        <p>С аккаунтом вы сможете совершать покупки быстрее, просматривать статус заказа, отслеживать доставку</p>
                        <a class="customer-btn" href="register.html">продолжить</a>
                    </div>
                </div>
            </div>
            <!-- New Customer End -->
            <!-- Returning Customer Start -->
            <div class="col-sm-6">
                <div class="well">
                    <div class="return-customer">
                        <h3 class="mb-10">Вход в личный кабинет</h3>
                        <p class="mb-10"><strong>У меня уже есть аккаунт</strong></p>
                        <form action="{% url 'auth:login' %}" method="POST">
                            {% csrf_token %}
                            {{ login_form.as_p }}
                                
                            <p class="lost-password"><a href="forgot-password.html">Forgot password?</a></p>
                            <input type="submit" value="Войти" class="return-customer-btn">
                        </form>
                    </div>
                </div>
            </div>
            <!-- Returning Customer End -->
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>