{% extends 'mainapp/base.html' %}
{% load static %}

<header>
    {% block header %}
        {% include 'mainapp/includes/inc_main_menu.html' %}
    {% endblock %}
</header>
<!-- Header Area End -->
<!-- Slider Area Start -->
    {% block slider %}
       {% include 'mainapp/includes/inc_slider.html' %}
    {% endblock %}
<!-- Slider Area End --> 
<!-- New Products Start -->
<div class="new-products pt-60">
    {% block new_products %}
        {% include 'mainapp/includes/inc_new_products.html' %}
    {% endblock %}
    <!-- Container End -->
</div>
<!-- New Products End -->         
    <!-- Banner Start -->
    {% block banner %}
        {% include 'mainapp/includes/inc_banner.html' %}
    {% endblock %}                             
<!-- Banner End -->
<!-- Company Policy Start -->
    {% block Company_Policy %}
        {% include 'mainapp/includes/inc_Company_Policy.html' %}
    {% endblock %}
<!-- Company Policy End -->   
<!-- Best Products Start -->
    {% block Best_Products %}
        {% include 'mainapp/includes/inc_Best_Products.html' %}
    {% endblock %}
<!-- Best Product End -->             
<!-- Blog Page Start -->
    {% block blog_page %}
        {% include 'mainapp/includes/inc_Blog_Page.html' %}
    {% endblock %}
<!-- Blog Page End -->
<!-- Brand Logo Start -->
    {% block brand_logo %}
        {% include 'mainapp/includes/inc_brand_logo.html' %}
    {% endblock %}
<!-- Brand Logo End -->
    {% block footer %}
        {% include 'mainapp/includes/inc_footer.html' %}
    {% endblock %}
<!-- Footer End -->