{% extends 'mainapp/base.html' %}
{% load static %}

<header>
    {% block header %}
        {% include 'mainapp/includes/inc_main_menu.html' %}
    {% endblock %}
</header>
<!-- Header Area End -->   
<!-- Breadcrumb Start -->
{% block slider %}
    <div class="breadcrumb-area ptb-60 ptb-sm-30">
        <div class="container">
            <div class="breadcrumb">
                <ul>
                    <li><a href="{% url 'main' %}">Домой</a></li>
                    <li class="active"><a href="{% url 'shop:products' %}">Магаз</a></li>
                </ul>
            </div>
        </div>
        <!-- Container End -->
    </div>
<!-- Breadcrumb End -->
{% endblock %}
<!-- Shop Page Start -->
{% block new_products %}
    {% include 'mainapp/includes/inc_shop_page.html' %}
{% endblock %}
<!-- Shop Page End -->
<!-- Brand Logo Start -->
{% block brand_logo %}
    {% include 'mainapp/includes/inc_brand_logo.html' %}
{% endblock %}
<!-- Brand Logo End -->
{% block footer %}
    {% include 'mainapp/includes/inc_footer.html' %}
{% endblock %}